body {
	/*Temporary background color*/
	background:black;
	/*background options- bk(1, 2, 3, 4, 5)*/
    background-image: url("../Pictures/Background/bk1.jpg");
	background-size: cover;
	background-repeat:no-repeat; 
	background-attachment: fixed;
	background-position:center;
	background-position-x: 50%;
	background-position-y: 0%;
}
.header {
	background:rgba(0, 40, 175, 0.8);
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	height:auto;
	font-size:200%;
	z-index: +2;
	padding-right:10px;
	border:0px;
	margin-left:282px;
	margin-right:10px;
	margin-bottom:-10px;
	margin-top:10px;
	overflow-y:hidden;
}
.hbtn {
	background-color:transparent;
	border:0px;
	height:70px;
	font-size:150%;
	margin-left:20px;
	margin-right:20px;
}
.hbtn:hover {
	cursor:pointer;
	background-color:rgb(1000, 1000, 1000)
}
.sidebar {
	margin-left:10px;
	float:left;
	background:rgba(1000, 1000, 1000, 0.8);
	height:auto;
	width:272px;
	border:0px;
	border-top-left-radius:15px;
	-webkit-border-top-left-radius:15px;
	position:absolute;
	top:10px;
}
.sbtn6, .sbtn7, .sbtn8 {
	background-color:rgb(0, 0, 0);
	color:white;
	width:200px;
	margin-left:36px;
	height:70px;
	font-size:275%;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	-webkit-border-top-left-radius:25px;
	-webkit-border-top-right-radius:25px;
	border:0px;
}
.sbtn6:hover {
	background-color:Yellow;
	cursor:pointer;
	color:rgb(0, 0, 0)
	
}
.sbtn7:hover {
	background-color:blue;
	cursor:pointer;
	color:rgb(0, 0, 0)
}
.sbtn8:hover {
	background-color:red;
	cursor:pointer;
	color:rgb(0, 0, 0)
}
.bottom {
	background-color:rgba(100, 100, 100, 0.6);
	margin-top:0px;
	margin-right:10px;
	margin-left:292px;
}